@model ICollection<DoAnCoSo.Data.ModelHelper.SanPhamReviewClientModel>

<div class="evo_section_product evo-block-product row evo-scroll">
	@foreach (var item in Model)
	{
		<div class="col-lg-15 col-md-15 col-sm-4 col-5">
			<div class="evo-product-block-item">
				<a href="/chitietsanpham?id=@item.Id" title="@item.TenSanPham" class="product__box-image">
					<img style="opacity: 1;" class="lazy" src="/Images/SanPham/@item.AnhDaiDien"
						 alt="@item.TenSanPham" />
					@if (item.GiaKhuyenMai != 0)
					{
						<span class="sales">
							<i class="icon-flash2"></i> Giảm
							@item.GiaKhuyenMai?.ToString("#,###")₫
						</span>
					}
				</a>
				<a href="/chitietsanpham?id=@item.Id" title="@item.TenSanPham" class="product__box-name">Điện thoại @String.Format("{0} ({1}|{2})", item.TenSanPham, item.RAM == null ? "Đang cập nhật" : item.RAM.Replace(" ", ""), item.DungLuong == null ? "Đang cập nhật" : item.DungLuong.Replace(" ", ""))</a>
				<div class="product__box-price">
					<span class="price">@item.GiaHienTai?.ToString("#,###")₫</span>
					@if (item.GiaKhuyenMai != 0)
					{
						<span class="old-price">@item.GiaGoc.ToString("#,###")₫</span>
					}
				</div>
				<div class="box-promotion">
					<span class="bag">KM</span>
					<div class="box-promotions">
						<p>Mua tai nghe giảm 40% (không kèm khuyến mãi khác).</p>
						<p>Combo phụ kiện iPhone 12 Series thời trang&nbsp;giá chỉ&nbsp;<strong>890.000đ</strong>&nbsp;(giá gốc 1.240.000đ)</p>
						<p>Mua&nbsp;đế sạc không dây Apple MagSafe&nbsp;giá chỉ&nbsp;<strong>1.490.000đ</strong>&nbsp;(giá gốc 1.650.000đ)</p>
						<p>Trade-in thu cũ lên đời tiết kiệm đến<strong>&nbsp;19,5 triệu</strong></p>
					</div>
				</div>
				<div class="product__box-btn">
					<a href="/chitietsanpham/@item.Id" class="btn-buy" title="Chi tiết">Chi tiết</a>
					<a href="#" title="Yêu thích" data-handle="iphone-12-pro-max-256gb-chinh-hang-vn-a" class="btn-compare js-btn-wishlist">Yêu thích</a>
				</div>
			</div>
		</div>
	}
</div>